<!DOCTYPE html>
<html>
  <head>
    <title>BL Hub</title>
    <%= favicon_link_tag 'https://s3.amazonaws.com/bl-hub/logos/brain_blue.png' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f8e35c4eda.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'photoswipe'  %>
    <%= stylesheet_link_tag 'default-skin' %>
    <script src="/assets/photoswipe-ui-default.min.js"></script>
    <script src="/assets/photoswipe.min.js"></script>
  </head>

  <body id='bl-app'>
      <% unless (params[:controller] == 'home') %>
          <div id='nav-bar-container'></div>
      <% end %>
      <%= yield %>
  </body>

  <footer id='footer'>
      <div class='footer-wrapper'>
          <div class='footer-contents'>
              <p>© 2018 Sail High Productions</p>
              <p>The Bioluminescence Hub</p>
              <div>
                  <a href='https://twitter.com/biolumhub' target='_blank'><img class='bl-logo bl-logo--twitter' src='https://s3.amazonaws.com/bl-hub/Twitter_Logo_Blue.svg'/></a>
                  <a href='https://www.instagram.com/biolumhub/' target='_blank'><img href='#' class='bl-logo bl-logo--ig' src='https://s3.amazonaws.com/bl-hub/logos/IG_Glyph_Fill-min.png'/></a>
              </div>
          </div>
      </div>
  </footer>
</html>
