<!DOCTYPE html>
<html>
  <head>
    <title>BL Hub</title>
    <%= favicon_link_tag 'https://s3.amazonaws.com/bl-hub/favicon-min.jpg' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f8e35c4eda.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id='bl-app'>
      <div class='header clearfix'>
          <h1 class='float-left'>The Bioluminescence Hub</h1>
          <span class='neuronex-text float-right'><span class='italics'>Powered by</span> <a href='https://www.nsf.gov/news/news_summ.jsp?cntn_id=242652'>NSF NeuroNex</a></span>
      </div>
      <div id='nav-bar-container'></div>
      <%= yield %>
  </body>

  <footer id='footer'>
  </footer>
</html>
